<connectionStrings>
  <clear />
  <add name="LinhSaHuynhConnection" providerName="System.Data.SqlClient" connectionString="Data source=DESKTOP-MQCJA10\SQLEXPRESS;Initial Catalog=LinhSaHuynhConnection;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
</connectionStrings>