<connectionStrings>
  <clear />
  <add name="LinhSaHuynhConnection" providerName="System.Data.SqlClient" connectionString="Data source=sahuynhvn.com;Initial Catalog=sahuynhv_linhsahuynh;Integrated Security=False;User Id=sahuynhv_linhsh;Password=Hp2eu1@3;MultipleActiveResultSets=True" />
</connectionStrings>